<ion-content>

  <ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="inicial">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Início</ion-label>
      <ion-badge>6</ion-badge>
    </ion-tab-button>

    <ion-tab-button tab="entregas">
      <ion-icon name="location-outline"></ion-icon>
      <ion-label>Entregas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="perfil">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>Perfil</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>

</ion-content>
