<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()"
        ><ion-icon name="close"></ion-icon
      ></ion-button>
    </ion-buttons>
    <ion-title> Informações sobre a entrega </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card color="primary">
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label> <strong>Produto:</strong></ion-label>
        </ion-item>
        <ion-item>
          <p>{{ entrega.product }}</p>
        </ion-item>
        <ion-item>
          <ion-label><strong>Local de entrega:</strong></ion-label>
        </ion-item>
        <ion-item>
          <p>{{ entrega.delivery_place }}</p>
        </ion-item>
        <ion-item>
          <ion-label><strong>Local de retirada:</strong></ion-label>
        </ion-item>
        <ion-item>
          <p>{{ entrega.pickup_place }}</p>
        </ion-item>
        <ion-item>
          <ion-label><strong>Nome do destinatário:</strong></ion-label>
        </ion-item>
        <ion-item>
          <p>{{ entrega.receive_client }}</p>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
