ion-card{

    margin-top: 1.5rem;
}
.img{
    display: flex;
    justify-content: center;
    
}
ion-img{
    width: 120px;
    height: 120px;
    margin-top: 1rem;
}

.answers{
    display: flex;
    justify-content: space-between;
}

button{
    color: #5260ff;
    background: none;
}

ion-header{
    text-align: center;
}