<ion-header>
  <ion-toolbar>
    <ion-title size="large"> Entregas </ion-title>
  </ion-toolbar>

  <ion-content [fullscreen]="true" class="swiper-no-swiping">
    <ion-refresher slot="fixed" (ionRefresh)="atualizar($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <div class="content">
      <div class="container top">
        <ion-segment
          scrollable
          (ionChange)="segmentChanged($event)"
          value="abertas"
        >
          <ion-segment-button value="abertas">
            <ion-label>Abertas</ion-label>
          </ion-segment-button>
          <ion-segment-button value="pendentes">
            <ion-label>Pendentes</ion-label>
          </ion-segment-button>
          <ion-segment-button value="confirmadas">
            <ion-label>Confirmadas</ion-label>
          </ion-segment-button>
        </ion-segment>
      </div>

      <ion-slides>
        <ion-slide>
          <div>
            <ion-card color="primary" *ngFor="let entrega of entregasAbertas">
              <ion-card-content>
                <ion-list class="ios list-ios hydrated" inset>
                  <ion-item>
                    <ion-thumbnail slot="start" class="ios hydrated">
                      <ion-img src="./assets/aguardando.svg"></ion-img>
                    </ion-thumbnail>

                    <ion-label>
                      <h2><strong>{{entrega.product}}</strong></h2>
                      <p>
                        <strong>De:</strong> <br />
                        {{entrega.pickup_place}}
                      </p>
                      <p></p>
                      <p>
                        <strong>Para:</strong> <br />
                        {{entrega.delivery_place}}
                      </p>
                      <p></p>
                      <div class="buttons">
                        <ion-button (click)="gotoInfo(entrega)">
                          <ion-icon name="information-outline"></ion-icon
                          >Informações
                        </ion-button>
                      </div>
                    </ion-label>
                  </ion-item>
                </ion-list>
              </ion-card-content>
            </ion-card>
            <br />
          </div>
        </ion-slide>

        <ion-slide>
          <div>
            <ion-card color="danger" *ngFor="let entrega of entregasPendentes">
              <ion-card-content>
                <ion-list class="ios list-ios hydrated" inset>
                  <ion-item>
                    <ion-thumbnail slot="start" class="ios hydrated">
                      <ion-img src="./assets/aguardando.svg"></ion-img>
                    </ion-thumbnail>
                    <ion-label>
                      <h2>{{entrega.product}}</h2>
                      <h3>De: {{entrega.pickup_place}}</h3>
                      <p>Para: {{entrega.delivery_place}}</p>
                      <div class="buttons">
                        <ion-button (click)="gotoInfo(entrega)" color="danger">
                          <ion-icon name="information-outline"></ion-icon
                          >Informações
                        </ion-button>
                      </div>
                    </ion-label>
                  </ion-item>
                </ion-list>
              </ion-card-content>
            </ion-card>
          </div>
        </ion-slide>

        <ion-slide>
          <div>
            <ion-card
              color="success"
              *ngFor="let entrega of entregasConcluidas"
            >
              <ion-card-content>
                <ion-list class="ios list-ios hydrated" inset>
                  <ion-item>
                    <ion-thumbnail slot="start" class="ios hydrated">
                      <ion-img src="./assets/checklist.svg"></ion-img>
                    </ion-thumbnail>
                    <ion-label>
                      <h2>{{entrega.product}}</h2>
                      <h3>De: {{entrega.pickup_place}}</h3>
                      <p>Para: {{entrega.delivery_place}}</p>
                      <div class="buttons">
                        <ion-button (click)="gotoInfo(entrega)" color="success">
                          <ion-icon name="information-outline"></ion-icon
                          >Informações
                        </ion-button>
                      </div>
                    </ion-label>
                  </ion-item>
                </ion-list>
              </ion-card-content>
            </ion-card>
          </div>
        </ion-slide>
      </ion-slides>
    </div>

    <!-- <div class="tab-wrap">
  
    <input type="radio" name="tabs" id="tab1" checked>
    <div class="tab-label-content" id="tab1-content">
      <label class="tab-label" for="tab1">Pendentes</label>
      <div class="tab-content">
        <ion-list class="ios list-ios hydrated" inset>

          <ion-item>
            <ion-thumbnail slot="start" class="ios hydrated">
              <ion-img src="./assets/aguardando.svg"></ion-img>
            </ion-thumbnail>
            <ion-label>
              <h2>Conteúdo</h2>
              <h3>Entrega pendente</h3>
              <p>Entregador</p>
              <div class="buttons">
                
                <ion-button><ion-icon name="close-outline"></ion-icon>Cancelar</ion-button>
              </div>
            </ion-label>

           
          </ion-item>

          <ion-item>
            <ion-thumbnail slot="start" class="ios hydrated">
              <ion-img src="./assets/aguardando.svg"></ion-img>
            </ion-thumbnail>
            <ion-label>
              <h2>Conteúdo</h2>
              <h3>Entrega pendente</h3>
              <p>Entregador</p>
              <div class="buttons">
                <ion-button><ion-icon name="close-outline"></ion-icon>Cancelar</ion-button>
               
              </div>
            </ion-label>

           
          </ion-item>
        </ion-list> 	
      </div>
    </div>
     
    <input type="radio" name="tabs" id="tab2">
    <div class="tab-label-content" id="tab2-content">
      <label class="tab-label" for="tab2">Confirmadas</label>
      <div class="tab-content">
        <ion-list class="ios list-ios hydrated" inset>
      
          <ion-item>
            <ion-thumbnail slot="start" class="ios hydrated">
              <ion-img src="./assets/checklist.svg"></ion-img>
            </ion-thumbnail>
            <ion-label>
              <h2>Conteúdo</h2>
              <h3>Entrega efetuada</h3>
              <p>Nome do recebedor</p>
            </ion-label>

          </ion-item>

          <ion-item>
            <ion-thumbnail slot="start" class="ios hydrated">
              <ion-img src="./assets/checklist.svg"></ion-img>
            </ion-thumbnail>
            <ion-label>
              <h2>Conteúdo</h2>
              <h3>Entrega efetuada</h3>
              <p>Nome do recebedor</p>
            </ion-label>
          </ion-item>
        </ion-list>

      </div>
    </div>
    <div class="slide"></div>
</div>

</ion-content> --></ion-content
  ></ion-header
>
