<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()"
        ><ion-icon name="close"></ion-icon
      ></ion-button>
    </ion-buttons>
    <ion-title> Entregas </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="atualizar($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-card *ngFor="let entrega of entregasDisponiveis">
    <ion-row>
      <ion-col col-7>
        <ion-card-header>
          <strong>{{ entrega.product }}</strong>
        </ion-card-header>
        <ion-card-content color="dark">
          <div class="info">
            <div class="info-group">
              <p>
                <ion-icon name="earth-outline"></ion-icon> Entrega:
                {{ entrega.delivery_place }}
              </p>
              <p>
                <ion-icon name="globe-outline"></ion-icon> Retirada:
                {{ entrega.pickup_place }}
              </p>
            </div>
            <div class="info-group">
              <p>
                <ion-icon name="information-circle-outline"></ion-icon> Nome do
                destinatário: {{ entrega.receive_client }}
              </p>
            </div>
          </div>
          <div class="buttons">
            <ion-button
              color="success"
              fill="outline"
              (click)="aceitaEntrega(entrega.id)"
              ><ion-icon name="checkmark-outline"></ion-icon>Aceitar</ion-button
            >
            <!-- <ion-button color="danger" fill="outline"><ion-icon name="close-outline"></ion-icon>Recusar</ion-button> -->
          </div>
        </ion-card-content>
      </ion-col>
    </ion-row>
  </ion-card>
</ion-content>
